<!DOCTYPE html>
<html lang="en">
    <%- include('../head.ejs') %>
    <body>
        <%- include('../nav.ejs') %>
    
        <div class="posts-container">

            <% if (posts.length > 0) {
                posts.forEach( post => { %>
                   
                    <div class="single-post-container">
                        <a class="single-post">
                            <image src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"></image>
                            <div class="post">
                                <h3 class="post-name"><%= post.title %></h3>
                                <p class="post-tag"><%= post.tag %></p>
                                <p class="post-content"><%= post.content %></p>
                            </div>
                        </a>
                    </div>

                <% })
            } %>

        </div>

        <%- include('../footer.ejs') %>
    </body>
    <!-- <script>
        setTimeout(function(){
            window.location.reload();
        }, 2000);
    </script> -->
</html>